li {
    list-style: none;
    display: inline-block;
}

.head {
    text-align: right;
}

.box-model {
    border: 5px solid brown;
    display: inline-block;
    padding: 5px 20px;
    margin: 0px 20px;
    width: 33px;
    height: 33px;
    background-color: lightblue;
}

.underlined {
    text-decoration: underline;
    font-style: italic;
}

.j {
    text-decoration: none;
    border: 3px solid yellow;
    padding: 10px 20px;
}

.link {
    font-style: italic;
    font-size: large;
}

h3 {
    text-align: center;
}

.font {
    font-size: 20px;
}

span {
    font-size: 2em;
}