#head {
    text-align: right;
}

body {
    background-image: url(images/background_image2.jpg);
    background-size: cover;
}

h2 {
    color: rgb(173, 65, 162);
    text-align: center;
    padding: 20px;
    /* border: 5px solid rgb(146, 105, 153, 0.5); */
    cursor: pointer;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext {
    background-color: rgb(217, 230, 44, 0.5);
    font-size: larger;
    text-align: center;
}

.webtext2 {
    border: 5px solid rgb(146, 105, 153, 0.5);
    line-height: 50px;
    font-style: italic;
    font-weight: bold;  
    font-size: 100%;
    font-family: 'Poiret One', cursive;
    text-align: center;
}

img {
    float: right;
}

footer {
    clear: both;
    text-align: center;
}